.ContacksChat{
    display: flex;
    padding: 10px 20px;
    cursor: pointer;
    /* align-items: center; */
}
.ContacksChat__info{
    color: black;
    margin-left: 15px;
    margin-top: -10px;
}

.ContacksChat__info > h2 {
    font-size: 16px;
    line-height: 11px;
    margin-bottom: 8px;
}