.login{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container{
    padding: 100px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}
.login_image{
    width: 100px;
    height: 100%;
}
.login_container > button {
 /* margin-bottom: 12px; */
 background-color: #31b221 !important ;
 color: white;
 box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
 text-transform: inherit !important;
}